<%= render 'layouts/customer_header'%>
<div class="row">
	<div class="col-lg-12 customer_edit">
		<div class="customer_edit__h1">
			<h1>ユーザー編集画面</h1>
		</div>
		<div class="customer_edit__form">
			<%= form_with model: @customer, url: public_customer_path, local: true do |f|%>
			<%= render 'layouts/error_messages', model: @customer %>
			<div>
				<%= attachment_image_tag @customer, :image, :fill, 100, 100, format: 'jpg', fallback: "" %>
				<%= f.label :プロフィール画像 %><br />
				<%= f.attachment_field :image %>
			</div>
			<div>
				<%= f.label :ニックネーム %><br />
				<%= f.text_field :nick_name%>
			</div>
			<div>
				<%= f.label :メールアドレス %><br />
				<%= f.text_field :email%>
			</div>
			<div>
				<%= f.label :自己紹介文 %><br />
				<%= f.text_area :intoroduction, size: '70x5'%>
			</div>
			<div class="cutomer_edit__link">
				<div class="cutomer_edit__link_btn" >
				<%= f.submit "変更",class: "btn btn-success" %>
				</div>
				<div class="cutomer_edit__link_btn">
				<%= link_to "退会", confirm_public_customer_path(@customer.id), class: "btn btn-danger"%>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>