<%= render 'layouts/customer_header' %>
<%= render 'layouts/customer_profile' %>
<div class="row">
	<div class="col-lg-12 customer_index__h1">
		<h1>ユーザー一覧画面</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 customer_index">
		<div class="customer_index__search form-group">
			<%= search_form_for @q, url: public_customers_path , remote: true do |f| %>
				<%= f.search_field :nick_name_cont ,placeholder:"ニックネームを入力してください", size: '30', class: "form-control"%>
				<%= f.submit "検索" %>
			<% end %>
		</div>
			<div id="ransack_customer">
				<%= render partial: 'public/customers/customer_index', locals: { ransack_customer: @ransack_customer }%>
			</div>
	</div>
</div>