<div class="container shore_margin">
	<%= render 'layouts/customer_header' %>
	<div class="row">
		<div class="col-md-12 show_customer_top">
			<div>
				<%= attachment_image_tag @customer, :image, :fill, 100, 100, format: 'jpg', fallback: "profile.png", size:'100x100', class: "img-circle"%>
			</div>
			<div>
				<h3><%= @customer.nick_name%>さん</h3>
			</div>
			<div>
				<!-- ゲストログインの編集ボタン -->
				<% if @customer.nick_name == "げすと"%>
					<button type="button" class="btn btn-success" disabled="disabled">編集</button>
				<% else %>
					<!-- 通常会員の編集ボタン -->
					<% if @customer.id == current_customer.id %>
						<%= link_to "編集画面", edit_public_customer_path(@customer.id),class: "btn btn-success" %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<!-- current_customerの自己紹介文 -->
	<% if @customer.id == current_customer.id%>
		<div class="row">
			<div class="col-md-12 show_customer_intoroduction">
				<!-- ゲストログインの場合 -->
				<% if @customer.nick_name == "げすと"%>
					<% if @customer.intoroduction.blank?%>
						<button type="button" class="btn btn-warning" disabled="disabled">自己紹介文を追加しよう</button>
					<% else %>
						<h3>自己紹介</h3>
						<%= @customer.intoroduction%>
					<% end %>
				<% else %>
				<!-- それ以外の場合 -->
					<% if @customer.intoroduction.blank?%>
						<%= link_to "自己紹介文を追加しよう", edit_public_customer_path(@customer.id), class: "btn btn-warning"%>
					<% else %>
							<h3>自己紹介</h3>
							<%= @customer.intoroduction%>
					<% end %>
				<% end %>
			</div>
		</div>
	<% else %>
	<!-- 他のユーザーの自己紹介文 -->
		<div class="row">
			<div class="col-md-12 show_customer_intoroduction">
				<% unless @customer.intoroduction.blank?%>
						<h3>自己紹介</h3>
						<%= @customer.intoroduction%>
				<% end %>
			</div>
		</div>
	<% end %>


	<!-- current_customerの所属グループ（退会ボタン付き） -->
	<% if @customer.id == current_customer.id%>
		<div class="row">
			<div class="col-md-12 show_customer_groups">
				<!-- グループ未加入の場合 -->
				<% if @groups.blank?%>
					<div class="show_customer_groups__group_blank">
					<%= link_to "グループを探そう", public_groups_customers_path, class: "btn btn-success"%>
					</div>
				<% else %>
				<!-- グループ加入の場合 -->
					<table class="table">
						<tr>
							<th></th>
							<th>所属グループ名</th>
							<th></th>
						</tr>
						<% @groups.each do |group|%>
							<tr>
								<td><%= attachment_image_tag group.group, :image, :fill, 100, 100, format: 'jpg', fallback: "group.png", size:'60x60', class: "img-circle"%></td>
								<td><%= link_to group.group.name, public_group_path(group.group.id)%></td>
								<td><%= link_to "グループを抜ける", public_groups_customer_path(group.id), method: :delete, data: {confirm: "本当に抜けますか？"} ,class: "btn btn-danger"%></td>
							</tr>
						<% end %>
					</table>
				<%= paginate @groups %>
				<% end %>
			</div>
		</div>
	<!-- current_customerの所属グループ表示ここまで -->
	<% else %>
	<!-- 他のユーザーの所属グループ -->
		<div class="row">
			<div class="col-md-12 show_customer_groups">
				<!-- グループ未加入の場合 -->
				<% if @groups.blank?%>
						<h1>所属グループはありません</h1>
				<% else %>
					<!-- グループ加入の場合 -->
					<table class="table">
						<tr>
							<th></th>
							<th>所属グループ名</th>
						</tr>
						<% @groups.each do |group|%>
							<tr>
								<td><%= attachment_image_tag group.group, :image, :fill, 100, 100, format: 'jpg', fallback: "group.png", size:'60x60'%></td>
								<td><%= group.group.name %></td>
							</tr>
						<% end %>
					</table>
				<%= paginate @groups %>
				<% end %>
			</div>
		</div>
	<% end %>


	<!-- current_customerのmap -->
	<% if @customer.id == current_customer.id%>
		<div class="row">
			<div class="col-md-12 show_customer_maps">
				<!-- 場所未登録の場合 -->
				<% if @places.blank?%>
					<%= link_to "スポット登録してみよう", new_public_place_path,class: "btn btn-info customer_show__link"%>
				<% else %>
				<script async defer
					src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
				</script>
					<%= render partial: 'maps' %>
				<% end %>
			</div>
		</div>
	<% else %>
	<!-- 他のユーザーのmap -->
		<div class="row">
			<div class="col-md-12 show_customer_maps">
				<% if @places.blank?%>
					<h1>マップの投稿がありません</h1>
				<% else %>
				<script async defer
					src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
				</script>
					<%= render partial: 'maps' %>
				<%end%>
			</div>
		</div>
	<% end %>

	<!-- current_customerの場所（文字情報） -->
	<% if @customer.id == current_customer.id%>
		<!-- 場所登録がない場合は下記を表示しない -->
		<% unless @places.blank?%>
			<div class="row">
				<% @places.includes([:place_images]).each do |place| %>
					<div class="col-md-3">
					  <% if place.place_images.blank?%>
					    <%= image_tag 'no_place.png', size: "100x100" %>
					  <% elsif place.place_images.count == 1%>
					    <% place.place_images.each do |image|%>
					      <%= attachment_image_tag image, :image, class: "default_image", size: "100x100" %>
					  	<% end %>
					  <% else %>
					    <div class="swiper-container customer_show_swiper_container">
					      <div class="swiper-wrapper customer_show_swiper_wrapper">
					        <% place.place_images.each do |image|%>
					          <div class="swiper-slide customer_show_swiper_slide">
					            <%= attachment_image_tag image, :image, class: "default_image", size:"100x100" %>
					          </div>
					        <% end %>
					      </div>
					      <div class="swiper-pagination"></div>
					    </div>
					<% end %>
					</div>
					<div class="col-md-9 show_customer_places">
					<table class="table">
						<tr>
							<th class="show_customer__place_name">場所名</th>
							<td><%= place.place_name%></td>
						</tr>
						<tr>
							<th>住所</th>
							<td><%= place.address%></td>
						</tr>
						<tr>
							<th class="show_customer__table_link">場所詳細</th>
							<td><%= link_to "場所の詳細", public_place_path(place.id),class: "btn btn-info"%></td>
						</tr>
						<tr>
							<th class="show_customer__delete"></th>
							<td><%= link_to "削除", public_place_path(place.id), method: :delete, data: {confirm: "本当に削除しますか？"} ,class: "btn btn-danger"%></td>
						</tr>
					</table>
				</div>
				<% end %>
			</div>
		<% end %>
					<%= paginate @places %>
	<% else %>
	<!-- 他のユーザーの場所（文字情報） -->
		<% unless @places.blank?%>
			<% @places.includes([:place_images]).each do |place| %>
				<div class="row">
				<div class="col-md-3">
					<% if place.place_images.blank?%>
						<div class="customer_show_no_image">
							<%= image_tag 'no_place.png', size: "100x100" %>
						</div>
					<% elsif place.place_images.count == 1%>
						<div class="customer_show_image_cuont1">
							<% place.place_images.each do |image|%>
								<%= attachment_image_tag image, :image, class: "default_image", size: "100x100" %>
							<% end %>
						</div>
					<% else %>
						 <div class="swiper-container customer_show_swiper_container">
					      <div class="swiper-wrapper customer_show_swiper_wrapper">
								<% place.place_images.each do |image|%>
									<div class="swiper-slide customer_show_swiper_slide">
										<%= attachment_image_tag image, :image, class: "default_image", size:"100x100" %>
									</div>
								<% end %>
							</div>
						<div class="swiper-pagination"></div>
						</div>
					<% end %>
				</div>
					<div class="col-md-9 show_customer_places">
						<table class="table">
							<tr>
								<th class="show_customer__place_name">場所名</th>
								<td><%= place.place_name%></td>
							</tr>
							<tr>
								<th>住所</th>
								<td><%= place.address%></td>
							</tr>
							<tr>
								<th class="show_customer__table_link">場所詳細</th>
								<td><%= link_to "場所の詳細", public_place_path(place.id),class: "btn btn-info"%></td>
							</tr>
						</table>
					</div>
				</div>
			<% end %>
						<%= paginate @places %>
		<% end %>
	<% end %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
	<%= javascript_include_tag "public/customer_show.js" %>
	<%= render 'layouts/phone_footer'%>
</div>