<%= render 'layouts/customer_header' %>
<div class="show_customer_h1">
	<h1>マイページ</h1>
</div>

<!-- ユーザーの名前、プロフィール画像 -->
<div class="row">
	<div class="col-lg-12 show_customer_top">
		<div>
			<%= attachment_image_tag @customer, :image, :fill, 100, 100, format: 'jpg', fallback: "profile.png", size:'150x150', class: "img-circle"%>
		</div>
		<div>
			<h3><%= @customer.nick_name%>さん</h3>
		</div>
		<div>
			<!-- ゲストログインの編集ボタン -->
			<% if @customer.nick_name == "げすと"%>
				<button type="button" class="btn btn-success" disabled="disabled">編集</button>
			<% else %>
				<!-- 通常会員の編集ボタン -->
				<% if @customer.id == current_customer.id %>
					<%= link_to "編集画面", edit_public_customer_path(@customer.id),class: "btn btn-success" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<!-- current_customerの自己紹介文 -->
<% if @customer.id == current_customer.id%>
	<div class="row">
		<div class="col-lg-12 show_customer_intoroduction">
			<!-- ゲストログインの場合 -->
			<% if @customer.nick_name == "げすと"%>
				<% if @customer.intoroduction.blank?%>
					<button type="button" class="btn btn-warning" disabled="disabled">自己紹介文を追加しよう</button>
				<% else %>
					<h3>自己紹介</h3>
					<%= @customer.intoroduction%>
				<% end %>
			<% else %>
			<!-- それ以外の場合 -->
				<% if @customer.intoroduction.blank?%>
					<%= link_to "自己紹介文を追加しよう", edit_public_customer_path(@customer.id), class: "btn btn-warning"%>
				<% else %>
						<h3>自己紹介</h3>
						<%= @customer.intoroduction%>
				<% end %>
			<% end %>
		</div>
	</div>
<% else %>
<!-- 他のユーザーの自己紹介文 -->
	<div class="row">
		<div class="col-lg-12 show_customer_intoroduction">
			<% unless @customer.intoroduction.blank?%>
					<h3>自己紹介</h3>
					<%= @customer.intoroduction%>
			<% end %>
		</div>
	</div>
<% end %>


<!-- current_customerの所属グループ（退会ボタン付き） -->
<% if @customer.id == current_customer.id%>
	<div class="row">
		<div class="col-lg-12 show_customer_groups">
			<!-- グループ未加入の場合 -->
			<% if @groups.blank?%>
				<div class="show_customer_groups__group_blank">
				<%= link_to "グループを探そう", public_groups_customers_path, class: "btn btn-success"%>
				</div>
			<% else %>
			<!-- グループ加入の場合 -->
				<table class="table">
					<tr>
						<th></th>
						<th>所属グループ名</th>
						<th></th>
					</tr>
					<% @groups.each do |group|%>
						<tr>
							<td><%= attachment_image_tag group.group, :image, :fill, 100, 100, format: 'jpg', fallback: "group.png", size:'60x60', class: "img-circle"%></td>
							<td><%= link_to group.group.name, public_group_path(group.group.id)%></td>
							<td><%= link_to "グループを抜ける", public_groups_customer_path(group.id), method: :delete, data: {confirm: "本当に抜けますか？"} ,class: "btn btn-danger"%></td>
						</tr>
					<% end %>
				</table>
			<%= paginate @groups %>
			<% end %>
		</div>
	</div>
<!-- current_customerの所属グループ表示ここまで -->
<% else %>
<!-- 他のユーザーの所属グループ -->
	<div class="row">
		<div class="col-lg-12 show_customer_groups">
			<!-- グループ未加入の場合 -->
			<% if @groups.blank?%>
					<h1>所属グループはありません</h1>
			<% else %>
				<!-- グループ加入の場合 -->
				<table class="table">
					<tr>
						<th></th>
						<th>所属グループ名</th>
					</tr>
					<% @groups.each do |group|%>
						<tr>
							<td><%= attachment_image_tag group.group, :image, :fill, 100, 100, format: 'jpg', fallback: "group.png", size:'60x60'%></td>
							<td><%= group.group.name %></td>
						</tr>
					<% end %>
				</table>
			<%= paginate @groups %>
			<% end %>
		</div>
	</div>
<% end %>


<!-- current_customerのmap -->
<% if @customer.id == current_customer.id%>
	<div class="row">
		<div class="col-lg-12 show_customer_maps">
			<!-- 場所未登録の場合 -->
			<% if @places.blank?%>
				<%= link_to "スポット登録してみよう", new_public_place_path,class: "btn btn-info customer_show__link"%>
			<% else %>
			<!-- 場所登録済みの場合 -->
				<script async defer
					src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
				</script>
				<div id="map"></div>
				<style type="text/css">
					#map { height: 300px;
					width: 80%;}
				</style>
				<script>
					function initMap() {

					//初期表示位置
					var latlng = new google.maps.LatLng({lat: <%= @center_place.latitude %>, lng: <%= @center_place.longitude %>});

					var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 9,
					center: latlng
					});
					var transitLayer = new google.maps.TransitLayer();
					transitLayer.setMap(map);

					//複数マーカー ここから
					<% @places.each do |place| %>
						<% unless place.latitude.nil?%>
							(function(){
							var contentString = "住所：<%= place.address %>";
							var infowindow = new google.maps.InfoWindow({
							content: contentString
							});

							var marker = new google.maps.Marker({
							position:{lat: <%= place.latitude %>, lng: <%= place.longitude %>},
							map: map,
							title: contentString
							});

							marker.addListener('click', function() {
							infowindow.open(map, marker, contentString);
							});
							})();
						<% end %>
					<% end %>
					}
				</script>
			<% end %>
		</div>
	</div>
<% else %>
<!-- 他のユーザーのmap -->
	<div class="row">
		<div class="col-lg-12 show_customer_maps">
			<% if @places.blank?%>
				<h1>マップの投稿がありません</h1>
			<% else %>
				<script async defer
					src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
				</script>
				<div id="map"></div>
				<style type="text/css">
					#map { height: 300px;
					width: 80%;}
				</style>
				<script>
					function initMap() {

					//初期表示位置
					var latlng = new google.maps.LatLng({lat: <%= @center_place.latitude %>, lng: <%= @center_place.longitude %>});

					var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 9,
					center: latlng
					});
					var transitLayer = new google.maps.TransitLayer();
					transitLayer.setMap(map);

					//複数マーカー ここから
					<% @places.each do |place| %>
						<% unless place.latitude.nil?%>
							(function(){
							var contentString = "住所：<%= place.address %>";
							var infowindow = new google.maps.InfoWindow({
							content: contentString
							});

							var marker = new google.maps.Marker({
							position:{lat: <%= place.latitude %>, lng: <%= place.longitude %>},
							map: map,
							title: contentString
							});

							marker.addListener('click', function() {
							infowindow.open(map, marker, contentString);
							});
							})();
						<% end %>
					<% end %>
					}
				</script>
			<%end%>
		</div>
	</div>
<% end %>

<!-- current_customerの場所（文字情報） -->
<% if @customer.id == current_customer.id%>
	<!-- 場所登録がない場合は下記を表示しない -->
	<% unless @places.blank?%>
		<div class="row">
			<div class="col-lg-12 show_customer_places">
				<table class="table">
					<tr>
						<th class="show_customer__place_name">場所名</th>
						<th>住所</th>
						<th class="show_customer__table_link">場所詳細</th>
						<th class="show_customer__delete"></th>
						<th></th>
					</tr>
					<% @places.each do |place| %>
						<tr>
							<td><%= place.place_name%></td>
							<td><%= place.address%></td>
							<td><%= link_to "場所の詳細", public_place_path(place.id),class: "btn btn-info"%></td>
							<td><%= link_to "削除", public_place_path(place.id), method: :delete, data: {confirm: "本当に削除しますか？"} ,class: "btn btn-danger"%></td>
							<div class="show_customer__likes">
								<td>
									<div id="likes_buttons">
             							<%= render partial: 'public/likes/like', locals: { place: place } %>
          							</div>
								</td>
							</div>
						</tr>
					<% end %>
				</table>
				<%= paginate @places %>
			</div>
		</div>
	<% end %>
<% else %>
<!-- 他のユーザーの場所（文字情報） -->
	<% unless @places.blank?%>
		<div class="row">
			<div class="col-lg-12 show_customer_places">
				<table class="table">
					<tr>
						<th class="show_customer__place_name">場所名</th>
						<th>住所</th>
						<th class="show_customer__table_link">場所詳細</th>
						<th></th>
					</tr>
					<% @places.each do |place| %>
						<tr>
							<td><%= place.place_name%></td>
							<td><%= place.address%></td>
							<td><%= link_to "場所の詳細", public_place_path(place.id),class: "btn btn-info"%></td>
							<div class="show_customer__likes">
								<td>
									<% if current_customer.already_liked?(place) %>
										<%= link_to public_place_like_path(place), method: :delete do %>
											<i class="fas fa-heart"></i>
										<% end %>
									<% else %>
										<%= link_to public_place_likes_path(place), method: :post do %>
											<i class="far fa-heart"></i>
										<% end %>
									<% end %>
									<%= Like.where(place_id: place.id).count%>
								</td>
							</div>
						</tr>
					<% end %>
				</table>
				<%= paginate @places %>
			</div>
		</div>
	<% end  %>
<% end %>