<!-- 検索表示 -->
  <div class="row place_index_render">
    <% if ransack_place.blank?%>
      <div class="col-md-12">
        <h1>検索した内容はありません</h1>
      </div>
    <% else %>
    <% ransack_place.includes([:place_images]).each do |place| %>
    <div class="col-md-5 public_place_index">
      <% if place.place_images.blank?%>
        <%= image_tag 'no_place.png' %>
      <% elsif place.place_images.count == 1%>
        <% place.place_images.each do |image|%>
          <%= attachment_image_tag image, :image, class: "default_image" %>
        <% end %>
      <% else %>
        <div class="swiper-container public_place_index_images">
          <div class="swiper-wrapper public_place_index_images2">
            <% place.place_images.each do |image|%>
              <div class="swiper-slide public_place_index_images3">
                <%= attachment_image_tag image, :image, class: "default_image", size:"100x100" %>
              </div>
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      <% end %>
    </div>
    <div class="col-md-7">
          <table class="table">
            <tr>
              <th class="col-xs-4">ジャンル名</th>
              <% if place.genre.nil? %>
                <td class="col-xs-8">ジャンルなし</td>
              <% else %>
                <td class="col-xs-8"><%= place.genre.name%></td>
              <% end %>
            </tr>
            <tr>
              <th class="col-xs-4">場所名</th>
              <td class="col-xs-8"><%= link_to place.place_name, public_place_path(place.id)%></td>
            </tr>
            <tr>
              <th class="col-xs-4">住所</th>
              <td class="col-xs-8"><%= link_to place.address, public_place_path(place.id)%></td>
            </tr>
            <tr>
              <th class="col-xs-4">いいねの数</th>
              <td class="col-xs-8"><%= place.liked_customers.count %></td>
            </tr>
          </table>
    </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate ransack_place %>