<%= render 'layouts/customer_header' %>
<%= render 'layouts/customer_profile' %>
<div class="col-lg-12 place_index">
  <div class="place_index__h1">
  <h1>スポット一覧</h1>
  </div>
  <script async defer
                src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
  </script>
  <div id="map"></div>
  <style type="text/css">
    #map { height: 300px;
           width: 100%;}
  </style>
  <script>
      function initMap() {

        //初期表示位置
        var latlng = new google.maps.LatLng({lat: <%= @center_place.latitude %>, lng: <%= @center_place.longitude %>});

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: latlng
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        //複数マーカー ここから
        <% @places.each do |place| %>
        <% unless place.latitude.nil?%>
        (function(){
          var contentString = "住所：<%= place.address %>";
          var infowindow = new google.maps.InfoWindow({
              content: contentString
          });

          var marker = new google.maps.Marker({
              position:{lat: <%= place.latitude %>, lng: <%= place.longitude %>},
              map: map,
              title: contentString
          });

          marker.addListener('click', function() {
            infowindow.open(map, marker, contentString);
          });
         })();
        <% end %>
        <% end %>
        //複数マーカー ここまで
    }
  </script>
  <table class="table">
    <tr>
      <th></th>
      <th>投稿者名</th>
      <th>ジャンル名</th>
      <th>場所名</th>
      <th>住所</th>
      <th>いいねの数</th>
    </tr>
    <% @places.where(group_id: nil).each do |place| %>
    <tr>
      <td><%= attachment_image_tag place.customer, :image, :fill, 60, 60, fallback: "profile.png", size:'60x60', class: "img-circle"%></td>
      <td><%= place.customer.nick_name%></td>
      <% if place.genre.nil? %>
        <td>ジャンルなし</td>
      <% else %>
        <td><%= place.genre.name%></td>
      <% end %>
      <td><%= link_to place.place_name, public_place_path(place.id)%></td>
      <td><%= link_to place.address, public_place_path(place.id)%></td>
      <td><%= place.liked_customers.count %></td>
    </tr>
      <% end %>
  </table>
  <%= paginate @places %>
</div>