<%= render 'layouts/customer_header'%>
<div class="row">
	<div class="col-lg-12 place_new">
		<div>
			<h1>スポット登録</h1>
		</div>
		<div class="place_new__form_box">
			<%= form_with model: @place, url: public_places_path, local: true do |f|%>
				<%= flash[:not_latitude]%>
				<%= render 'layouts/error_messages', model: @place %>
					<div class="place_new__form form-group">
						<%= f.label :ジャンル %><br />
						<%= f.select :genre_id, Genre.all.map { |a| [a.name, a.id ] },{}, class: "form-control" %>
					</div>
					<div class="place_new__form form-group">
						<%= f.label :場所名 %>(必須)<br />
						<%= f.text_field :place_name, class: "form-control"%>
					</div>
					<div class="place_new__form form-group">
						<%= f.label :住所 %>(必須)<br />
						<%= f.text_field :address, class: "form-control"%>
					</div>
					<div class="place_new__form form-group">
						<% if GroupsCustomer.where(customer_id: current_customer.id).blank? %>
							<%= f.label :グループ選択 %><br />
							<input type="text" class="form-control" id="InputText" placeholder="グループに加入しよう" disabled>
						<% else %>
							<%= f.label :グループ選択 %><br />
							<%= f.select :group_id, GroupsCustomer.where(customer_id: current_customer.id).map { |g| [g.group.name, g.group.id]}, {include_blank: '選択してください'}, class: "form-control"%>
						<% end %>
					</div>
				<%= f.hidden_field :customer_id, :value => current_customer.id %>
				<div class="place_new__form_action">
					<%= f.submit "スポット登録",class: "btn btn-success" %>
				</div>
			<% end %>
		</div>
	</div>
</div>