<%= render 'layouts/customer_header'%>
<div class="row place_new_add_max">
	<div class="col-lg-12">
		<div class="place_new_add">
			<h1>これを追加すると便利ですよ？？</h1>
			<%= link_to "追加しない", public_place_path(@place.id),class: "btn btn-success" %>
		</div>
	</div>
</div>
<div class="row place_new_add_max">
	<div class="col-lg-12">
		<div class="place_new_add__form">
			<%= form_with model: @place, url: public_place_path(@place.id), local: true do |f|%>
			<%= flash[:not_latitude]%>
			<%= render 'layouts/error_messages', model: @place %>
					<div class="place_new_add__form form-group">
						<%= f.label :場所URL %><br />
						<%= f.text_field :place_url , class: "form-control"%>
					</div>
					<div class="place_new_add__form form-group">
						<%= f.label :電話番号 %><br />
						<%= f.text_field :number , class: "form-control"%>
					</div>
					<div class="place_new_add__form form-group">
						<%= f.label :平均予算 %><br />
						<%= f.text_field :budget , class: "form-control"%>
					</div>
					<div class="place_new_add__form form-group">
						<%= f.label :detail, "詳細" %><br />
						<%= f.text_area :detail, size: '7x10', class: "form-control"%>
					</div>
					<div class="place_new_add__form_action">
						<%= f.submit "追加",class: "btn btn-success" %>
					</div>
			<% end %>
		</div>
	</div>
</div>