<%= render 'layouts/customer_header' %>
<div class="col-lg-9">
	<h1>お問い合わせ</h1>
	<%= form_with model: @inquiry, url: public_inquiries_path , local: true do |f|%>
		<div>
			<%= f.label :title %><br />
			<%= f.text_field :title%>
		</div>
		<div>
			<%= f.label :body %><br />
			<%= f.text_area :body %>
		</div>
		<% if customer_signed_in?%>
			<%= f.hidden_field :customer_id , :value => current_customer.id %>
		<% else %>
			<%= f.hidden_field :customer_id , :value => 1 %>
		<% end %>
		<%= f.submit "お問い合わせ",class: "btn btn-success" %>
	<% end %>
	<h1>お問い合わせ一覧</h1>
	<table class="table">
		<tr>
			<th>タイトル</th>
			<th>内容</th>
			<th>問い合わせ時間</th>
			<th>ステータス</th>
		</tr>
		<tr>
			<% @inquiries.each do |i| %>
				<td><%= i.title %></td>
				<td><%= i.body %></td>
				<td><%= i.created_at.to_s(:datetime_jp) %></td>
				<td><%= i.status %></td>
		</tr>
		<% end %>
	</table>
</div>