<div class="container shore_margin">
<%= render 'layouts/customer_header' %>
<%= render 'layouts/customer_profile' %>
	<div class="row">
		<div class="col-lg-12 groups_customer_index">
			<div class="groups_customer_index__search form-group">
			<%= search_form_for @q, url: public_groups_customers_path, remote: true do |f| %>
				<%= f.search_field :name_cont , placeholder:"グループ名を入力してください", size: 27, class: "form-control"%>
				<%= f.submit "検索" %>
			<% end %>
			</div>
			<div id="ransack_group">
				<%= render partial: 'public/groups_customers/groups_customer_index', locals: { ransack_groups: @ransack_groups, groups: @groups }%>
			</div>
		</div>
	</div>
</div>