<div class="row">
  <div class="col-md-12 customer_profile">
    <div class="customer_profile_main">
      <div>
        <%= attachment_image_tag current_customer, :image, :fill, 100, 100, format: 'jpg', fallback: "profile.png", size:'100x100' ,class: "img-circle"%>
      </div>
      <div>
        <h3>ようこそ!!<br><span><%= current_customer.nick_name%>さん</span></h3>
      </div>
      <% if current_customer.nick_name == "げすと"%>
        <div>
          <a href="#" class="btn btn-success" disabled="disabled">グループ加入するには<br>新規登録が必要です</a>
        </div>
      <% else %>
      <!-- グループに加入していない場合 -->
        <% if GroupsCustomer.where(customer_id: current_customer.id).blank?%>
          <div>
            <%= link_to "グループを探そう", public_groups_customers_path,class: "btn btn-info"%>
          </div>
        <% else %>
          <div>
            <h3>加入しているグループ</h3>
              <ul>
                <% GroupsCustomer.includes([:group]).where(customer_id: current_customer.id).each do |group_customer|%>
                  <li><%= link_to group_customer.group.name, public_group_path(group_customer.group.id)%></li>
              <% end %>
              </ul>
          </div>
        <% end %>
      <% end %>
        <!-- スポット登録が無い場合 -->
        <% if Place.where(customer_id: current_customer.id).blank?%>
          <div>
            <%= link_to "スポット登録してみよう", new_public_place_path,class: "btn btn-info"%>
          </div>
        <% else %>
          <div>
            <h3>スポット登録数</h3>
            <%= link_to public_customer_path(current_customer.id), class: "btn btn-info" do %>
              <%= Place.where(customer_id: current_customer.id).count%>件
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>