<div class="row">
  <div class="profile__image_name">
    <div class="profile__image">
      <%= attachment_image_tag current_customer, :image, :fill, 100, 100, format: 'jpg', fallback: "profile.png", size:'100x100' %>
    </div>
    <div class="profile__name">
      <h3>ようこそ!!<br><%= current_customer.nick_name%>さん</h3>
    </div>
    <div class="profile__group_place">
      <!-- グループに加入していない場合 -->
      <% if GroupsCustomer.where(customer_id: current_customer.id).blank?%>
      <div class="profile__group">
        <%= link_to "グループを探そう", public_groups_customers_path,class: "btn btn-info"%>
      </div>
      <% else %>
      <div class="profile__group">
        <h3>加入しているグループ</h3>
        <ul>
          <% GroupsCustomer.where(customer_id: current_customer.id).each do |group_customer|%>
          <li><%= link_to group_customer.group.name, maps_public_groups_customer_path(group_customer.group.id)%></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <!-- ゲストアカウントの場合 -->
      <div>
        <% if current_customer.nick_name == 'ゲストアカウント'%>
        <h3>スポット登録数</h3>
        <p>77件</p>
      </div>
      <% else %>
      <div class="customer_profile__place">
        <!-- スポット登録が無い場合 -->
        <% if Place.where(customer_id: current_customer.id).blank?%>
          <div class="profile__place">
            <%= link_to "スポット登録してみよう", new_public_place_path,class: "btn btn-info"%>
          </div>
          <% else %>
            <div class="profile__place">
              <h3>スポット登録数</h3>
              <%= link_to public_customer_path(current_customer.id), class: "btn btn-info" do %>
              <%= Place.where(customer_id: current_customer.id).count%>件
          <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>